@use "../../styles/global_styles/root" as root;

.graphBlock {
  height: 0.7em;
  background-color: root.$blueDark;

  .score {
    width: 0;
    height: 100%;
    background-color: root.$white;
    @include root.transition(all, 0.5s);
  }
}