@use "../../styles/global_styles/root" as root;

.sectionList {

}

.sectionName {
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin-bottom: 0.3em;

    @include root.init-font(1.15em, 700);
    @include root.text-shadow(0.11em, 0.2em);
    @include root.transition();

    &.toBeHovered:hover {
        transform: translateX(7px);
        cursor: pointer;
    }

    &.specClass {
        color: root.$foxy;
    }
}

.wrapper-on-scroll {
    position: fixed;
    z-index: 200;
    width: calc(100% - 1em);
    top: -100px;
    left: 0;
    margin: 0 0.5em;

    @include root.flex-box(row, center, center);
    @include root.transition();

    &.scroll-active {
      top: 0;
    }

    .sectionList {
        margin: 0;
        width: 100%;
        max-width: calc(#{root.$maxWidth} - 1em);
        background: linear-gradient(90deg, root.$white, root.$foxy);
        opacity: 0.97;

        @include root.flex-box(row, flex-start, center);

        .sectionName {
            color: root.$greyDark;
            margin: 0;
            padding: 0.25em;

            &.toBeHovered:hover {
                transform: scale(1.05);
                cursor: pointer;
            }

            &.specClass {
                color: root.$foxy;
            }
        }
    }
}