@use "../../styles/global_styles/root" as root;


.totalWrapper {
  //font-size is in #root with rem, which is changed by media queries
  position: relative;
  width: 100%;
  background-color: root.$white;

  @include root.flex-box(row, center, flex-start);
  @include root.box-shadow(2px, 8px);
}