@use "../../styles/global_styles/root" as root;


.aside-item-wrapper {
  padding-bottom: 1em;

  h3 {
    color: root.$foxyGrey;
    letter-spacing: 0.1em;
    margin-bottom: 0.3em;
    @include root.text-shadow(0.17em, 0.2em);
  }

  .spanDetails {
    letter-spacing: 0.05em;

    @include root.init-font(14px, 400);
  }
}