@import "../../styles/global_styles/_variables";
@import "../../styles/global_styles/_mixins";
@import "../../styles/global_styles/_animations";

.contentBar {
  flex-grow: 1;
  flex-basis: 30em;
  color: $blue;
  padding-left: 1.8em;
  padding-right: 0.5em;
  padding-bottom: 2em;

  opacity: 0;

  &.fade-in {
    animation: fadeIn 0.5s linear forwards;
  }

  .heading {
    letter-spacing: 0.13em;
    background: linear-gradient(90deg, $white, $foxy);

    @include text-shadow(0.07em, 0.1em);
    @include init-font(1.5em, 700);

    padding: 0.9em 0;
  }
}