@import "../../styles/global_styles/_variables";
@import "../../styles/global_styles/_mixins";
@import "../../styles/global_styles/_animations";

.contentBar {
  flex-grow: 1;
  flex-basis: 30em;
  color: $blue;
  padding-left: 1.8em;
  padding-right: 0.5em;
  padding-bottom: 2em;

  .heading {
    letter-spacing: 0.13em;
    background: linear-gradient(90deg, $white, $foxy);

    @include text-shadow(0.07em, 0.1em);
    @include init-font(1.5em, 700);

    padding: 0.9em 0;
  }

  .contentWrapper {
    position: relative; //for loading icon

    @include scroll-init(5px, $blueDark, $foxyGrey);
    @include flex-box($flex-box-row-left...);

    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 1.2em 0;

    &.personal-spec {
      max-width: 40em;
      line-height: 1.5em;
      margin: 1em auto;
    }
  }
}